*{
    background-color: rgb(16, 68, 68);
}
.contianer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    text-align: center;
    background-color: rgb(6, 20, 17);
    color:rgb(118, 150, 179);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
button{
    color: rgb(217, 201, 205);
    background-color: rgb(3, 67, 35);
    border-radius: 50%;
    border: 5px solid rgb(120, 16, 16);
}